<hr />
<section class="documentation">
  <h2>Documentation</h2>
  <ul>
    <li>Please star <a href="https://github.com/11ty/eleventy/">this repo on GitHub!</a></li>
    <li>Follow us on Twitter <a href="https://twitter.com/eleven_ty">@eleven_ty</a></li>
    <li>Support <a href="https://opencollective.com/11ty">11ty on Open Collective</a></li>
    <li><a href="https://www.npmjs.com/org/11ty">11ty on npm</a></li>
    <li><a href="https://github.com/11ty">11ty on GitHub</a></li>
  </ul>
</section>
